.messageContainer {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: flex-start;
}

.messageWrapper {
  position: relative;
  height: 60px;
  padding: 10px;
  box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  border-left: 1px solid rgba(255, 255, 255, 0.7);
}

.messageText {
  font-size: 15px;
}
