.poContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 1;
  max-width: 1100px;
  width: 100%;
  margin: 40px auto;
}

.poRow {
  display: flex;
  justify-content: space-between;
}

.poCol {
  padding: 10px;
  font-weight: 600;
  margin: 0 auto;
}

.poListItem:not(:nth-child(1)) {
  padding: 20px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.poCol img {
  max-width: 100px;
  border-radius: 0.5rem;
}

.poCard {
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.poCardListGroup {
}

.poCardListItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.poCardRow {
  display: flex;
  justify-content: left;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.poCardRow div:nth-child(2) {
  margin-left: 10px;
}

.poButton {
  position: relative;
  margin: auto;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  white-space: nowrap;
  color: #010606;
  outline: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  text-decoration: none;
  font-weight: bold;
  background: none;
  padding: 10px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.poButton.inactive {
  cursor: default;
  opacity: 0.5;
}

.poLink {
  text-decoration: none;
  color: #000;
}
